DATABASE_URL="postgresql://mailhub:mailhub@localhost:5433/mailhub"
REDIS_URL="redis://localhost:6380"
JWT_SECRET="mailhub-dev-jwt-secret-troque-em-producao-1"
JWT_REFRESH_SECRET="mailhub-dev-refresh-secret-troque-em-producao-2"
ENCRYPTION_KEY="36d99276a1a97d6b459a18117a55819035f1721b2116e50349ccb8de6e6238a6"
PORT=3001
CORS_ORIGIN="http://localhost:5173"
